<div class="container">
  <h1 class="my-5">Stupid Coaching</h1>
  <div class="alert border-start">
    <%= params[:question] %>
    <p>—You</p>
  </div>

  <div class="alert alert-warning border-start ">
    <% if params[:question] == "I am going to work" %>
      <%= "Great!" %>
    <% elsif params[:question].end_with?("?")%>
      <%= "Silly question, get dressed and go to work!" %>
    <% else %>
      <%= "I don't care, get dressed and go to work!" %>
    <% end %>
    <p>—Your Coach</p>
  </div>

  <%= link_to "Ask page", ask_path %>

</div>
